@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400;500;600;700&family=Square+Peg&family=Water+Brush&display=swap');
@import "mode-dark.css";
@import "mobile.css";
*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    transition: 0.5s all;
}

head {
    scroll-behavior: smooth;
}

:root {
    --header-position: fixed;
    --artible-mobile: 80px;
    --background-header: #fff;
    --background-header-bg: var(--background-header);
    --background-color: #F5F4F4;
    --amarelo: #F8B042;
    --laranja: #DF531E;
    --button: #e4dad6;
    --button-text: #573B32;
    --grid-box: auto auto auto auto;
    --viewzone: 1280px;
    --grid-footer: auto auto auto;
    --padding-menu: 20px;
    --header-overflow: hidden;
    --header-index: 10;
}

body {
    background-color: var(--background-color);
    color: var(--button-text);
}


/* Padrão */

.mode-light {
    display: block;
}

.mode-dark {
    display: none;
}


/* Shadow */

.shadow {
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
}


/* Title */

header .title {
    width: 200px;
    height: 55px;
    float: left;
    margin-top: 5px;
}

header .title img {
    width: 55px;
    height: auto;
    float: left;
}

header .title h3 {
    font-family: 'Anton', sans-serif;
    color: var(--amarelo)
}

header .title h4 {
    font-family: 'Square Peg', cursive;
    margin: -5px 10px 0 0;
    float: right;
    color: var(--laranja)
}


/* Menu*/

.bgmenu-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9;
    margin-top: -80px;
    display: none;
    opacity: 0;
}

header {
    width: 100%;
    height: 80px;
    background: var(--background-header-bg);
    position: var(--header-position);
    overflow: var(--header-overflow);
    z-index: var(--header-index);
}

header ul {
    padding: 0;
    margin-top: 20px;
    float: right;
}

header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
}

header li {
    float: left;
}

.menumobile {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: -60px;
    right: 20px;
    z-index: var(--header-index);
}

.menuexpand {
    --width: 4px;
    --height: 25px;
    width: var(--width);
    height: var(--height);
    background-color: var(--button-text);
    border-radius: 5px;
    transform: rotate(90deg);
}

.menuexpand::after {
    content: "";
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: var(--button-text);
    border-radius: 5px;
    margin-left: 8px;
}

.menuexpand::before {
    content: "";
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: var(--button-text);
    border-radius: 5px;
    margin-left: -8px;
}

.menuclose {
    position: absolute;
    bottom: 20px;
    left: 90px;
    opacity: 0.5;
}

.menuclose-icon {
    width: 20px;
    height: 3px;
    background-color: var(--button-text);
    border-radius: 5px;
}

.menuclose-icon::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: var(--button-text);
    transform: rotate(-30deg);
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 5px;
}

.menuclose-icon::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: var(--button-text);
    transform: rotate(30deg);
    margin-left: 10px;
    margin-top: -3px;
    border-radius: 5px;
}

header a li {
    padding: 10px var(--padding-menu);
    margin: 0 5px;
    color: black;
    opacity: 0.9;
    font-weight: 600;
    color: var(--button-text);
    border-radius: 20px;
}

header a li:hover {
    background: var(--button);
    text-decoration: underline;
}

header a li img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    float: left;
}

header li input {
    display: none;
}

header li label img {
    width: auto;
    height: 25px;
    margin: 5px 10px 0 5px;
    border-radius: 20px;
    opacity: 0.8;
}

.viewzone {
    width: var(--viewzone);
    height: auto;
}


/* Article */

article {
    position: absolute;
    margin-top: var(--artible-mobile);
    padding: 10px 0 0 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}

#sobre {
    height: auto;
    padding: 20px;
}


/* Membros */

#membros {
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
    background: var(--background-header);
}

#membros h2 {
    margin-bottom: 30px;
}

#membros ul {
    align-items: center;
    display: grid;
    grid-template-columns: var(--grid-box);
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
}

#membros ul li {
    float: left;
    width: 250px;
    margin: 10px 25px 20px 25px;
    height: auto;
}

#membros .fotos {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
    border: 5px solid #fff;
    display: flex;
}

#membros .name {
    margin: 20px;
}

#membros .name h5 {
    font-style: italic;
}

#membros .social {
    display: flexbox;
}

#membros .social img {
    width: 32px;
    margin: 0 5px;
    height: auto;
}

#ultimo {
    padding: 30px 20px;
    height: auto;
    text-align: center;
}

#ultimo .zone {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: var(--grid-box);
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.card {
    width: 300px;
    height: auto;
    padding: 10px 0 20px 0;
    margin: 10px;
    border-radius: 5px;
    background: var(--background-header);
    overflow: hidden;
}

.card img {
    margin-top: -10px;
    width: 100%;
    height: 56.25%;
    border-bottom: var(--button-text) 5px solid;
}

.card .titulo {
    padding: 10px 15px;
    opacity: 0.8;
    width: auto;
    height: 50px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card .resumo {
    padding: 10px 15px;
    opacity: 0.8;
    width: auto;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-style: italic;
}

.card a .button {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    padding: 10px 15px;
    background: var(--button);
    color: var(--button-text);
    border-radius: 4px;
    font-weight: 600;
    opacity: 0.8;
}

.card a .button:hover {
    opacity: 1;
}


/* Footer */

footer {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: var(--background-header);
    bottom: 0;
}

footer .viewzone {
    display: grid;
    grid-template-columns: var(--grid-footer);
    gap: 5%;
}

.boxFooter {
    z-index: 10;
    width: 100%;
    color: var(--button-text);
    margin: 10px 0;
    padding: 0 10px;
}

.boxFooter h3 {
    padding-bottom: 10px;
}

.boxFooter iframe {
    border-radius: 10px;
}

.boxFooter .social {
    margin-bottom: 40px;
    align-items: center;
    width: 230px;
}

.boxFooter .social a img {
    width: 50px;
    height: auto;
    margin: 10px;
}

.boxFooter .copy {
    margin-bottom: 40px;
    text-align: center;
}

.boxFooter .copy i {
    font-family: 'Water Brush', cursive;
    text-decoration: underline;
    color: var(--button-text);
}

.boxFooter a {
    color: var(--button-text);
}